#blu {
    display: flex;
    flex-direction: row;
}

#but {
    width: 95%;
    background-color:#00bb9d;
    height: 40pt;
    color:aliceblue;
    border: 0pt;
    margin-left: 15pt;
}

.no {
    width: 50%;
    padding-top: 5pt;
    padding-left: 15pt;
}

.n {
    width: 95%;
    background-color:#e7eeef;
    border: 0pt;
}

#com {
    height: 180pt;
}

#to {
    border-style: solid;
    border-color: #00bb9d;
    border-width: 1px;
}

#tr {
    margin-left: 15pt;
    margin-right: 15pt;
}

#adv {
    color : #910f0a;
}
/* A refaire  */
.desc {
    font:bold;
}

#to {
    display: grid;
    grid-template-columns: 40% 50% 10%;
    grid-template-rows: 7% 7% 25% 7% 7% 7% 7% 25% 7%
}

.asterix {
    color : #910f0a;
}

#buttons {
    display: flex;
    justify-content: center;
}

#blu {
    display: grid;
    grid-area: 1/1/10/2;
}

#inps {
    display: grid;
    grid-area: 1/2/10/3;
}

.zdt {
    width : 90%;
}